{{#if addNewComment}}
  <h2>New Comment</h2>
  <div>
    <form>
      <div class="form-group">
        <label for="username">Username:</label>
        {{input class="form-control" value=username id="username"}}
      </div>

      <div class="form-group">
        <label for="text">Comment:</label>
        {{input class="form-control" value=text id="text"}}
      </div>

      <button class="btn btn-primary btn-outline btn-sm" {{action 'saveComment1'}}>Save</button>
      <button type="button" class="btn btn-outline btn-info btn-sm" {{action 'newCommentHide'}}>Hide</button>
    </form>
  </div>
  {{else}}
  <button class="btn btn-primary btn-outline btn-sm" {{action 'commentFormShow'}}>Add Comment</button>
{{/if}}
