{{#if addNewPost}}
  <h1>New Post</h1>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="photo">Photo</label>
        {{input value=photo id="photo"}}
      </div>

      <div class="form-group">
        <label for="body">Blog Text</label>
        {{input value=body id="body"}}
      </div>
      <button type="button" class = "btn btn-outline btn-primary" {{action 'componentSave1'}}>Save</button>
    </form>
{{else}}
  <button  type="button" class = "btn btn-outline btn-primary" {{action 'postFormShow'}}>New Post</button>
{{/if}}
